// .l_header {
//     //height: 100vh;
//   }
  
  .l_header_wrapper {
    display: flex;
  }
  
  .app_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .l_nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .l-toggle{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .l-user{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  .l-user button{
    margin: 0 5px;
  }
  
  .navlist{
    flex: 1;
    margin: 0 3px;
  }
  
  .app_logo img{
      cursor: pointer;
  }
  
  .l_search_doctor{
    height: 20px;
    width: 20px;
  }
  
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.l-h_a_z{
     border-top: 0;
     overflow: auto;
     padding: 1.313em 1.875em 1.875em;
     width: max-content;
     z-index: 100;
     display: flex;
     justify-content: center;
     align-items: center;
}



.l-h_a_z .common{
  flex: 1;
  align-items: center;
  text-align: center;
}

.l-h_a_z .resources{
  flex: 1;
  align-items: center;
  text-align: center;
}

.l-h_a_z .common ul{
  columns: 2;
  list-style-type: none;
}
.l-h_a_z .resources ul{
  columns: 2;
  list-style-type: none;
}

a{
  text-decoration: none;
}
