
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $app-primary: mat.define-palette(mat.$indigo-palette);
// $app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $app-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $app-theme: mat.define-light-theme((
//   color: (
//     primary: $app-primary,
//     accent: $app-accent,
//     warn: $app-warn,
//   )
// ));
$my-custom-primary: mat-palette($mat-deep-purple);
$my-custom-accent: mat-palette($mat-pink);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

$my-custom-primary-dark: mat-palette($mat-amber);
$my-custom-accent-dark: mat-palette($mat-blue-gray);
$my-custom-warn-dark: mat-palette($mat-red);

$my-custom-dark-theme: mat-dark-theme($my-custom-primary-dark, $my-custom-accent-dark, $my-custom-warn-dark);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.angular-material-theme($app-theme);


/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: "Fira Mono", "Andale Mono", "Consolas", monospace !important; }

.theme-dark{
  background: #424242;
  color: #F5F5F5;
  @include angular-material-theme($my-custom-dark-theme);
}

.theme-dark a{
  color: #F5F5F5;
}

.mat-menu-panel{
  max-width: 100% !important;
}
  